name: Tests

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install mypy
        pip install -r requirements.txt
    - name: Install system dependency FFMPEG and OPENCV
      run: |
        sudo apt install ffmpeg
        sudo apt-get install python3-opencv
    - name: Test with pytest
      run: |
        pytest gazeclassify
    - name: Test with mypy
      run: |
        mypy gazeclassify --strict
